# list methods

In [ ]:
# Append()
a = [1,2,3,4,5]

a.append(56)
print(a)


a.append("q")

print(a)

# we can add anything in it

[1, 2, 3, 4, 5, 56]
[1, 2, 3, 4, 5, 56, 'q']

In [ ]:
# copy()

a = [1,2,3,4,5]
b = a.copy()
print(b)

# we can copy anything using this method

[1, 2, 3, 4, 5]

In [ ]:
# clear()
a.clear()
print(a)


#remove all items

[]

In [ ]:
# count()

A = ["kunal" , "ramesh", "kunal", "Raj", "suresh"]

print(A.count("kunal"))

# it is used to count the number of occurance that each item has occured 
# in the above list there is 2 times kunal string has occured.

2

In [ ]:
# Extend()

b.extend([5,6])
b

# we can multiple values in list using this method

[1, 2, 3, 4, 5, [5, 6], 5, 6]

In [ ]:
# remove()

b.remove([5,6])
b

# we can remove anything using this method

[1, 2, 3, 4, 5, 5, 6]

In [29]:
#index()

# we can find index of any items using this method  

b.index(5)

4

In [31]:
# insert()

a = [1,3]
#insert 2 at inedex 1

a.insert(1,2)
a

[1, 2, 3]

In [ ]:
# POP()

print(a.pop())
print(a)

# removes the last item in the list

2
[1]

In [34]:
# reverse()

c = [45,56,85]
c.reverse()
c

[85, 56, 45]

* this two methods are use for sorting the data in ascednig or descending order

In [ ]:
# sort()

# vice varsa of above in ascending order

# ---------------------*---------------------

# String methods

In [ ]:
 # capitalize()

a = "kunal Titarmare"

cap = a.capitalize()
print(cap)

s = "hello WORLD"
res = s.capitalize()
print(res)

# Converts the first character of the string to a capital (uppercase) letter

# upper()

Kunal titarmare
Hello world

In [1]:
 # lower() or  # Casefold()

In [4]:
# center()

A = "kunal"

print(A.center(20))

#Explanation: Here, the word "hello" is centered within a 
# 20-character wide space, with spaces padded on both sides.

print(A.center(20,'-'))

       kunal
-------kunal--------

In [8]:
# Count()

A = "Kunal Titarmare"

print(A.count('a'))

3

In [ ]:
# The endswith() method is a tool in Python for 
# checking if a string ends with a particular substring. 

S = "kunal kunal"
print(S.endswith("kunal")) 

## This will print True because the string 
# ends with "kunal"

s = "geeksforgeeks"
res = s.endswith(("geeks", "com", "org"))
print(res) 

## This will print True because 'geeks' is one of the option.

True
True

In [16]:
#expandtabs() method in Python is used to replace
#  all tab characters (\t) in a string with spaces

k = "Name\tAge\tLocation"

print(k.expandtabs()) #default tab size

s = "A\tB\tC"

print(s.expandtabs(4)) # custome tab size

Name    Age     Location
A   B   C

In [ ]:
#find() method in Python returns the index of the first 
# occurrence of a substring within a given string.

E = "EV cars are the future of the automobile industry"

print(E.find("future of"))

# future of starts at 16th index

16

* find() vs index()

* Both find() and index() methods locate a substring within a string. However, they differ in behavior when the substring is not found.

    * find() returns the index or -1 if not found
    * index() same as find(), but raises a ValueError if not found

In [20]:
## The join() method in Python is used to concatenate the elements 
# of an iterable (such as a list, tuple, or set) into a
# single string with a specified delimiter placed between each element.

a = ["kunal", "Narendra", "titarmare"]

print("-".join(a))

kunal-Narendra-titarmare

In [21]:
# The replace()

s = "Hello World! Hello Python!"

# Replace "Hello" with "Hi"
s1 = s.replace("Hello", "Hi")

print(s1)

Hi World! Hi Python!

In [22]:
# strip() method in Python removes 
# all leading and trailing whitespace by default.

s = '  ##*#GeeksforGeeks#**##  '

res = s.strip('#* ')
print(res)

GeeksforGeeks

In [24]:
# startswith() method in Python 
# checks whether a given string starts with a specific prefix.

s = "GeeksforGeeks"
res = s.startswith("for")

print(res)

print(s.startswith("for", 5, 8))

False
True

# Dictionary Methods

### clear()

In [ ]:
## This method in Python is
# used to remove all items (key-value pairs) from a dictionary.

d = {1: "geeks", 2: "for"}

# using clear() to remove all items
d.clear()
print(d)

{}

### copy()

In [5]:
## method returns a shallow copy of the dictionary. 

K = { "Name": "Kuanl"}

B = K.copy()

B

{'Name': 'Kuanl'}

### get()

In [6]:
## Method returns the value for the given key if present in the dictionary.

d = {'coding': 'good', 'thinking': 'better'}
print(d.get('coding'))

good

### items()

In [7]:
## method in Python returns a view object that contains
#  all the key-value pairs in a dictionary as tuples. 

d = {'A': 'Python', 'B': 'Java', 'C': 'C++'}

# using items() to get all key-value pairs
items = d.items()

print(items)

dict_items([('A', 'Python'), ('B', 'Java'), ('C', 'C++')])

In [ ]:
skills_Job = {"techinal": "MS-CIT", "soft":"communication","programming": "java"}

for key, values in skills_Job.items():
    print(strip(f"Key: {key}, Values: {values}"))

Key: techinal, Values: MS-CIT
Key: soft, Values: communication
Key: programming, Values: java

### Keys()

In [22]:
## method in Python dictionary returns a view object
#  that displays a list of all the keys in the dictionary.

d = {'A': 'Kunal','B': 'Narendra','C': 'Titarmare'}

print(d.keys())

print("----------------")

for k in d.keys():
    print(F"this are the key {k}")

print("----------------")

print(list(d.keys()))

dict_keys(['A', 'B', 'C'])
----------------
this are the key A
this are the key B
this are the key C
----------------
['A', 'B', 'C']

### POP()

In [25]:
## method removes and returns the value of a specified key from a dictionary.


d = {'A': 'Kunal','B': 'Narendra','C': 'Titarmare'}

d. pop('B')

d

{'A': 'Kunal', 'C': 'Titarmare'}

### Values()

In [26]:
## method in Python is used to obtain a view object that 
# contains all the values in a dictionary. 

d = {'A': 'Python', 'B': 'Java', 'C': 'C++'}

v = d.values()
print(v)

dict_values(['Python', 'Java', 'C++'])

### Update()

In [27]:
## method updates the dictionary with the elements from another 
# dictionary object or from an iterable of key/value pairs.


# update() method in Dictionary

# Dictionary with three items
d1 = {'A': 'Geeks', 'B': 'For', }
d2 = {'B': 'Geeks', 'C': 'Python'}


# update the value of key 'B'
d1.update(d2)

# using keyword arguments
d1.update(A='Hello')

print(d1)

{'A': 'Hello', 'B': 'Geeks', 'C': 'Python'}